a {
	  color: black;
    font-size:24px;

	&:visited {
		color: grey;
	}
	&:hover,
	&:focus,
	&:active {
		color: grey;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}


a[rel="home"] {
    &:hover {
        text-decoration:none;
    }
}
