a {
	  color: $h_color_button;
    font-size:24px;

	&:visited {
		color: grey;
	}
	&:hover,
	&:focus,
	&:active {
		color: grey;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.site-info {
    a{
        @include font-size(1);
    }
}


a[rel="home"] {
    &:hover {
        text-decoration:none;
    }
}
