h1, h2, h3, h4, h5, h6 {
	  clear: both;
    text-align:center;
    
}

h1:nth-child(1){
    text-align:left;
}


h1 {
    font-size:46px;
    
}

h2 {
    font-size:32px;

}

h3 {
    font-size:24px;
}


section:nth-child(even) h1,section:nth-child(even) h2, section:nth-child(even) h3 {
    color:$h_color_main;
}
section:nth-child(odd) h1,section:nth-child(odd) h2, section:nth-child(odd) h3 {
    color:#efeeee;
}
