// /* my main file for my personnal scss */

@import "../../bower_components/susy/sass/susy";
@import "../../bower_components/susy/sass/plugins/svg-grid";

// // 4 symmetrical, fluid columns
// // gutters are 1/4 the size of a column
// // elements span 1 less gutter than columns
// // containers span 1 less gutter as well

$susy: (
    'columns': susy-repeat(12),
    'gutters': 0.25,
    'spread': 'narrow',
    'container-spread': 'narrow',
);




/* .grid { */
/*     background: susy-svg-grid() no-repeat scroll; */
/* } */

//header section
header {
    width:1400px;
    background: white;
    margin:auto;

    .logoCegep {
        display:inline-block;
        float:right;
        position:relative;
        top:-80px;
        width:span(2 of 12 last)
    }

}


//main
h1 {
    display:inline-block;
    float:left;
    text-transform:uppercase;
}

h1, h2, h3 {
    padding-top:50px;
    padding-bottom:50px;
    margin-top:0;
   
}

.fix-title-branding {
    display:inline-block !important;
    float:left !important;
    width:span(6 of 12);
    p {
        position:relative;
        bottom:-60px;
        left:30px;
    }
}

//creations section
.h_creations, .h_immersion, .h_perspectives, .h_temoignages, .h_technique {
    padding:40px;
}


.h_creations_projet {
    display:inline-block;
    width: span(4 of 12);
    vertical-align:top;

    background:red;

    img, h3, button{
        display:block;
        margin:auto;
        text-align:center;
    }

    p {
        color: $h_color_text--white;
    }


}


//section immersion
.h_immersion__etudiant {
    display:inline-block;
    width:span(6 of 12);
    margin:auto;
    vertical-align: top;

    img {
        display:block;
        margin:auto;
        width:200px;
        height:200px;
    }
}


//section perspectives

.h_perspectives {

    p{
        margin:auto;
        width:span(6 of 12);
        margin-bottom:30px;
        color:$h_color_text--white;
        
    }
}


.h_perspectives__placements {
    display:inline-block;
    width: span(4 of 12);


    h3, i, span {
        display:block;
        margin:auto;
        color:$h_color_text--white;
        text-align:center;
    }
}




.h_main {
    width:1400px;
    display:block;
    margin:auto;
}


.h_creations, .h_perspectives, .h_technique, .h_contact  {
    background-color: $h_color_main;

}


img {

    width:200px;
}

.h_technique {
    display:block;
    margin:auto;
    padding-top:200px;
    padding-bottom:200px;


    vertical-align:middle;
    h2 {
        display:block;
        margin:auto;
    }

    div {
        display:block;
        margin:auto;

        vertical-align:middle;

    }
}

.h_technique__a {
    padding:15px;

    width:200px;
    background:$h_color_button;
    color: $h_color_text--white;
    text-decoration:none;
    border-radius:20px;
    text-align:center;
    display:block;
    margin:auto;
    font-weight:bold;

}


button {
    padding:20px;
    color:white;
    background:#A890E1;
    border-radius: 20px;
    border:0;
    font-weight:bold;
}


//sidebar

.rss-widget-icon, .widget-title {
    display:none;
}

#rss-2 ul {
    list-style:none;
    margin:0;
    padding:0;

    li {
        display:inline-block;
        width: span(4 of 12);
        vertical-align:text-top;
        max-width: span(4 of 12);
        

        a{
            ;
            display:block;
            color:$h_color_text--white;
            text-decoration:none;
            font-size:18px;
        }
        span{
            margin-top:10px;
            margin-bottom:10px;
            display:block;
            color:$h_color_text--white;
        }
        div{
            max-width:90%;
            display:block;
            color:$h_color_text--white;
        }



    }
}

#rss-3 ul {
    list-style:none;
    margin:0;
    padding:0;
    margin-top:50px;
    margin-bottom:50px;

    li {
        display:inline-block;
        width: span(4 of 12);
        vertical-align:text-top;
        max-width: span(4 of 12);
        

        a{
            ;
            display:block;
            color:black;
            text-decoration:none;
            font-size:18px;
        }
        span{
            margin-top:10px;
            margin-bottom:10px;
            display:block;
            color:black;
        }
        div{
            max-width:90%;
            display:block;
            color:black;
        }



    }
}


//sociaux



.h_facebook__top div:nth-child(odd), .h_twitter__top div:nth-child(odd){
    display:inline-block;
    width:span(5 of 12);
    text-align:center;
    margin:auto;

               hr{
        display:block;
        margin:auto;
        vertical-align:middle;
    }

    hr {
        height: 4px;
        border: 0;
        vertical-align:middle;
        margin-bottom:0;
        border-radius:3px;
    }

    
}


.h_facebook__top div:nth-child(even), .h_twitter__top div:nth-child(even){
    display:inline-block;
    width:span(2 of 12);
    text-align:center;
    margin:auto

               hr {
        display:block;
        margin:auto;
        vertical-align:middle;
    }

    hr {
        height: 4px;
        border: 0;
        vertical-align:middle;
        margin-bottom:0;
        border-radius:3px;
    }

    .sociaux_span--facebook {
        color:#3b5998;
    }

    .sociaux_span--twitter{
        color:#00aced;
    }



}



.sociaux_logo {
    width: span(1 of 4);
    vertical-align:middle;
}

.sociaux_span {
    width: span(3 of 4);
    vertical-align:middle;
}




.h_contact, .h_contact_map {
    color:$h_color_text--white;


    label, input {
        display:block;
        color:$h_color_text--white;
    }
    
}

.h_contact_form, .h_contact_map {

    display:inline-block;
    width:span(6 of 12);
    vertical-align: top;
    padding-top:50px;
    margin-top:50px;
    padding-top:50px;
    margin-bottom:50px;
    label, input, textarea, select {
        display:block;
        width: span(4 of 6);
        margin:auto;
    }
}

.h_contact_map {
    h3 {
        padding:0;
        margin:0;
        text-align:left;

    }

}

//footer
footer {
    display:block;
    margin:auto;
    text-align: center;
    font-size: 18px;
    padding:50px;
}