// /* my main file for my personnal scss */

@import "../../bower_components/susy/sass/susy";
@import "../../bower_components/susy/sass/plugins/svg-grid";

// // 4 symmetrical, fluid columns
// // gutters are 1/4 the size of a column
// // elements span 1 less gutter than columns
// // containers span 1 less gutter as well

$susy: (
    'columns': susy-repeat(12),
    'gutters': 0.25,
    'spread': 'narrow',
    'container-spread': 'narrow',
);


@media (max-width:600px){

    //menu

    .menu-toggle {
        display:none;
    }

    #primary-menu {
        display:block;
        width:320px;

        li {
            display:block;
            margin:auto;
            text-align:left;
            width:span(4 of 4);
            padding:10px 0;
            a {
                text-align:left;
                &:hover {
                    opacity:0.8;
                }
            }
        }
    }

    .h_main {
        width:100%;
    }


    .site-branding{
        background:$h_color_main;

        .site-title {
            margin-bottom:0;
            margin-top:0;
            padding-left:20px;
            text-align:left;
            padding-top:5px;
            
            a{
                @include font-size(3);
                color:white;
                text-transform:uppercase;
                font-weight:bold;
            }
        }
        .site-description {
            margin-bottom:0;
            margin-top:0;
            text-align:center;
            @include font-size(1.5);
            color:white;
        }

    }

    .logoCegep {
        display:none;
    }


    h2 {
        @include font-size(1.5);
        font-weight:bold;
        padding:20px;
    }

    /*carousel */
    .h_carousel {
        display:none;
    }


    /* projects area */

    section {
        width:100%;

        h2 {
            margin-top:30px;
            margin-bottom:30px;
            color:$h_color_main;
        }
    }

    #h_projects_area__btn-group {
        width:span(4 of 4) !important;

        &.btn-group {
            display:block;
            border-radius:0;
            background:#BBD361;

        }

        button {
            display:block;
            width:100%;
            border-radius:0;

        }
    }

        .h_projects_area__screen {
        

        a {
            display:inline-block;
            width:span(2 of 4);
            padding:10px;

            
        }

        a:nth-child(odd) {
            margin-left:5px;
        }

        a img {
            
            width:span (2 of 4);
            margin:auto;
            text-align:center;
           
        }
    }



    /* immersion */

    .h_immersion, .h_temoignages {


        div img {
            width:span(2 of 4);
            display:block;
            margin:auto;
        }

        div p, div span {
            display:block;
            width:span(4 of 4);
            padding:20px;
            margin:auto;
        }

        div span {
            padding:5px;
            text-align:center;
            margin-bottom:20px;
        }

        div span a {
            display:block;
            margin:auto;
            padding:5px;
            text-align:center;
            @include font-size(1);
        }

        &__etudiant {

            h3 {
                @include font-size(1.3);
                padding:10px;
            }
        }

        &__etudiant:nth-child(odd){
            margin-bottom:20px;
        }
    }

    /* perspectives */

    .h_perspectives {
        background:$h_color_main;
        h2 {
            color:$h_color_text--white;
        }


        p {
            display:block;
            margin:auto;
            padding:20px;
            width:span(4 of 4);
            color:$h_color_text--white;
        }

        &__placements {
            h2, h3, span {
                color:$h_color_text--white;
            }

            img {
                display:block;
                margin:auto;
                width:span(1 of 4);
            }

            span {
                display:block;
                text-align:center;
                margin:auto;
                @include font-size(1.5);
            }

            img, span {
                padding:20px;
            }

            
        }
    }

    /* widget emplois */

    .widget-title {
        display:none;
    }

    #rss-2 {

        margin-bottom:0;

        ul {
            list-style-type:none;
            padding:0;
            margin:0;

            li {
               
                a {
                    display:block;
                    @include font-size(1);
                    font-weight:bold;
                    padding: 10px 20px;
                    color:$h_color_text--white;
                    margin:auto;
                }

                span, div {
                    display:block;
                    padding:10px 20px;
                    margin:auto;
                    color:$h_color_text--white;
                    @include font-size(.8);
                }
            }
        }

    }

    /* temoignages */
    .h_temoignages {
        h2 {
            margin-top:0;
        }
    }



    /* technique */

    .h_technique {
        
        height:auto;
        display:block;

        div{
            position:static;
            height:auto;
        }

        video {
            display:none;
            
        }

        &__a {
            width:span(2 of 4);
            display:block;
            margin:auto;
            text-align:center;
            background:$h_color_main;
            padding:20px;
            @include font-size(1);
            font-weight:bold;
            text-transform:uppercase;
            color:white;
        }
    }


    .h_contact_form, .h_contact_map {
        width:span(4 of 4);
        padding:20px;

        
    }


    /*sociaux */

    .h_facebook__top, .h_twitter__top {
        div {
            display:block;
            text-align:center;
            padding:30px 0 30px 0;
        }

        div:first-child, div:last-child {
            display:none;
        }
        
    }


    .fb-page, .cff-likebox, #cff .cff-shared-link, p.cff-media-link {
        display:none !important;
    }


    #cff .cff-item {
        padding:20px !important;
        
        
    }

    #cff .cff-author .cff-author-text *{
        margin:0 !important;
    }



    #cff .cff-author img {
        display:none;
    }
    .myFacebook{
        
        vertical-align:top !important;

        .cff-item {
            display:block !important;
            width:span(4 of 4) !important;
            padding:20px !important;
        }
    }


/*twitter*/
    #rss-3 ul {
        list-style:none;
        margin:0;
        padding:0;
        margin-top:0px;
        margin-bottom:50px;

        li {
            display:block;
            width: span(4 of 4);
            padding:20px;


            a{
                
                display:block;
                color:black;
                text-decoration:none;
                font-size:18px;
            }
            span{
                margin-top:10px;
                margin-bottom:10px;
                display:block;
                color:black;
            }
            div{
                max-width:90%;
                display:block;
                color:black;
            }



        }
    }

    .h_contact_form, .h_contact_map {
        h3{
            @include font-size(1.3);
        }
        address {
            text-align:center;
        }

        
    }

    .h_contact_map {
        h3 {
            padding:20px;
            
        }

        img {
            display:block;
            margin:auto;
            width:span(2 of 4);
            text-align:center;
        }
        p {
            text-align:left;
            padding:20px;
            margin-bottom:0;
        }
    }


    footer {
        display:block;
        margin:auto;
        text-align: center;
        font-size: 18px;
        padding:20px;
    }

    .site-info a:first-child, span.sep, #text {
        display:none;
    }

    .site-info {
        
    }


}/* end max-width:600px */



/****************************************************************************/
/****************************************************************************/
/****************************************************************************/
/****************************************************************************/


@media (min-width:601px) {


    


/* .grid { */
/*     background: susy-svg-grid() no-repeat scroll; */
/* } */
//body



//header section
header {
    width:1200px;
    background: white;
    margin:auto;
    margin-bottom:40px;
    position:relative;


    .logoCegepLink {
        display:inline-block;
        float:right;
        vertical-align:top;
        width:span(2 of 12 last);
        position:absolute;
        right:0px;
        top:0px;
        img {

        }
    }

    .site-title {
        margin-bottom:0;

    }

    .site-branding {
        float:left;
        diplay:inline-block;
    }

    .site-description {

    }

}

a[rel="home"] {
    @include font-size(3);
    font-weight:bold;
    text-transform:uppercase;
    color: $h_color_main !important;
}




//main
h1 {
    display:inline-block;
    float:left;
    text-transform:uppercase;
}

h1, h2, h3 {
    padding-top:50px;
    padding-bottom:50px;
    margin-top:0;
   
}

.fix-title-branding {
    display:inline-block !important;
    float:left !important;
    width:span(6 of 12);
    p {
        position:relative;
        bottom:-60px;
        left:30px;
    }
}

//the_background

.the_background {
    position:absolute;
    height:390px;
    width:span(12 of 12);
}


//creations section
.h_creations, .h_immersion, .h_perspectives, .h_temoignages, .h_technique {
    padding:40px;
}

.carousel {
    postion:absolute;
    top:30px;
}
.h_carousel {
    height:390px;
    position:relative;
    
}

.carousel-indicators {
    position:absolute;
    bottom:-60px;
}

.carousel-inner {
    
    width:span(8 of 12);
    margin:auto;
    height:300px;
    
}

.carousel-item {
    width:span(6 of 12);
    

    div {
        display:inline-block;
        width:span(4 of 6);
        position:absolute;
        left:120%;
        top:40px;
        height:300px;
        

        h5 {
            position:absolute;
            top:-20px;
            left:-30px;
            @include font-size(2);
            font-weight:bold;
            text-align:left;
            
        }

        p {
            position:absolute;
            top:20px;
            @include font-size(1);
            left:-30px;
            text-align:left;
        }
    }
    
}


//section projects area
.h_projects_area {
    
    

    #h_projects_area__btn-group {
        width:span(9 of 12) !important;
        margin:auto !important;
        display:block;
        button {
            width:span(3 of 9);
            @include font-size(1.5);
            font-weight:bold;
        }
    }

    &__ol {
        list-style-type:none;
        text-decoration:none;
        display:block;
        margin:auto;
        width:span(9 of 12);
       

        li {
            display:inline-block;
            width:span(3 of 9);
            @include font-size(1.5);
            font-weight:bold;
            padding:0;
            margin:0;
            text-align:center;
        }

    }

    &__screen {
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
        min-height:600px;
        
        img {
            display:inline-block;
            width:380px;
            padding:20px;
            margin-top:30px;
            margin-bottom:10px;
            &:hover {
                opacity:0.8;
            }
            
           
        }
    }
}



//section immersion
.h_immersion {
    margin-bottom:30px;
}

.h_immersion__etudiant {
    display:inline-block;
    width:span(6 of 12);
    margin:auto;
    vertical-align: top;

    img {
        display:block;
        margin:auto;
        width:200px;
        height:200px;
    }

    span {
        padding:20px;
    }

    span a {
        @include font-size(1.3);
        color:blue;
        
    }

    p {
        padding:20px;
    }
}


//section perspectives

.h_perspectives {

    p{
        margin:auto;
        width:span(6 of 12);
        margin-bottom:30px;
        color:$h_color_text--white;
        
    }

  
}


.h_perspectives__placements {
    position:relative;
    display:inline-block;
    width: span(4 of 12);
    /* vertical-align:top; */
    height:450px;

    /* h3 { */
    /*     position:absolute; */
    /*     text-align:center; */
    /*     top:0; */
    /* } */

    img {
        position:absolute;
        top:150px;
        left:50%;
        margin-left:-65px;

    }

    img[alt="cercle presque complet"] {
        top:175px;
    }

    span {
        position:absolute;
        bottom:20px;
        left:50%;
        margin-left:-58px;
        @include font-size(2);
    }
    
    i, span, img {
        display:block;
        width:span(4 of 12);
        color:$h_color_text--white;
        text-align:center;
    }

  

    span {
        font-size:24px;
        
    }

    
}




.h_main {
    width:1200px;
    display:block;
    margin:auto;
}


.h_creations, .h_perspectives, .h_technique, .h_contact  {
    background-color: $h_color_main;

}


img {

    width:200px;
}

.h_technique {
    position:relative;
    display:block;
    margin:auto;
    width:1200px;
    vertical-align:middle;
    padding:0;
    background:transparent;


    video {
        padding:0;
        margin:0;
        z-index:1;
        width:1200px;
        height:631px;
    }

    div {
        position:absolute;
        width:1200px;
        top:0;
        height:631px;
        background:black;
        opacity:0.8;
        z-index:2;
    }


    h2 {
        position:absolute;
        display:block;
        margin:auto;
        font-size:48px;
        top: 200px;
        left:50%;
        margin-left:-295px;
        z-index:3;
    }

    a {
        position:absolute;
        top:360px;
        left:50%;
        margin-left:-100px;
        z-index:3;
    }

   
}

.h_technique__a {
    padding:15px;

    width:200px;
    background:#BBD361;
    color: $h_color_text--white;
    text-decoration:none;
    border-radius:3px;
    text-align:center;
    display:block;
    margin:auto;
    font-weight:bold;

}


button {
    padding:20px;
    color:white;
    background:#BBD361;
    border-radius: 20px;
    border:0;
    font-weight:bold;
}


//sidebar

.rss-widget-icon, .widget-title {
    display:none;
}

#rss-2 ul {
    list-style:none;
    margin:0;
    padding:0;

    li {
        display:inline-block;
        width: span(4 of 12);
        vertical-align:text-top;
        max-width: span(4 of 12);


        a{
            
            display:block;
            color:$h_color_text--white;
            text-decoration:none;
            font-size:18px;
            font-weight:bold;
            padding-right:10px;
        }
        span{
            margin-top:10px;
            margin-bottom:10px;
            display:block;
            color:$h_color_text--white;
        }
        div{
            max-width:90%;
            display:block;
            color:$h_color_text--white;
        }



    }
}


//dealing with styling the facebook plugin
.fb-page, .cff-likebox, #cff .cff-shared-link, p.cff-media-link {
    display:none !important;
}


#cff .cff-item {
    padding:0 !important;
    
    
}

#cff .cff-author .cff-author-text *{
    margin:0 !important;
}



#cff .cff-author img {
    display:none;
}
.myFacebook{
    display:flex !important;
    vertical-align:top !important;

    .cff-item {
        /* display:inline-block !important; */
        width:span(4 of 12) !important;
        /* padding:20px !important; */
    }
}


//twitter feed
#rss-3 ul {
    list-style:none;
    margin:0;
    padding:0;
    margin-top:50px;
    margin-bottom:50px;

    li {
        display:inline-block;
        width: span(4 of 12);
        vertical-align:text-top;
        max-width: span(4 of 12);
        padding:20px;


        a{
            
            display:block;
            color:black;
            text-decoration:none;
            font-size:18px;
        }
        span{
            margin-top:10px;
            margin-bottom:10px;
            display:block;
            color:black;
        }
        div{
            max-width:90%;
            display:block;
            color:black;
        }



    }
}


//sociaux

.h_facebook__top, .h_twitter__top {
    margin-top:30px;
    margin-bottom:30px
}

//sociaux fix the facebook plugin
html[id="facebook"] {
    display:none !important;
}

.cff-item {
    display:inline-block;
    width:span(4 of 12);

}





.h_facebook__top div:nth-child(odd), .h_twitter__top div:nth-child(odd){
    display:inline-block;
    width:span(5 of 12);
    text-align:center;
    margin:auto;
    

   hr{
        display:block;
        margin:auto;
        vertical-align:middle;
    }

    hr {
        height: 4px;
        border: 0;
        vertical-align:middle;
        margin-bottom:0;
        border-radius:3px;
    }


}


.h_facebook__top div:nth-child(even), .h_twitter__top div:nth-child(even){
    display:inline-block;
    width:span(2 of 12);
    text-align:center;
    margin:auto

               hr {
        display:block;
        margin:auto;
        vertical-align:middle;
    }

    hr {
        height: 4px;
        border: 0;
        vertical-align:middle;
        margin-bottom:0;
        border-radius:3px;
    }

    .sociaux_span--facebook {
        color:#3b5998;
        position:relative;
        right:-12px;
        top:3px;
        @include font-size(1.2);
    }

    .sociaux_span--twitter{
        color:#00aced;
        position:relative;
        right:-20px;
        top:3px;
        @include font-size(1.2);
    }



}



.sociaux_logo {
    width: span(1 of 4);
    vertical-align:middle;
}

.sociaux_span {
    width: span(3 of 4);
    vertical-align:middle;
}





.h_contact, .h_contact_map {
    color:$h_color_text--white;


    label, input {
        display:block;
       
    }
    
}



.h_contact_form {

    p {
        br {
            display:none;
        }
        width:span(4 of 6);
        margin:auto;
        input {
            width:span(4 of 4);
            color:black;
        }

        label {
            width:span(4 of 4);
        }
        span {
            width:span(4 of 4);
            input, select, textarea {
                width:span(4 of 4);
            }
        }
    }

    div.recaptcha {
        padding-top:10px;
        width:span(4 of 6);
        margin:auto;
        
    }

}

.h_contact_form, .h_contact_map {

    display:inline-block;
    width:span(6 of 12);
    vertical-align: top;
    
    
    padding-top:50px;
    margin-bottom:50px;
    label, input, textarea, select, span, .g-recaptcha, button[name="submit"], .rc-anchor-error-message {
        display:block;
        width: span(5 of 6);
        
        font-size:18px;
        padding-bottom:5px;
        padding-top:10px;
    }

   

    input[type="submit"] {
        background:#BBD361;
        margin-top:20px;
        margin-bottom:20px;
        border:0;
        font-weight:bold;
        padding:15px;
        color:$h_color_text--white;
        
    }

    div[role="alert"] {
        width:span(4 of 6);
        margin:auto;
        margin-top:20px;
        margin-bottom:20px;
    }
    
}

.h_contact_form {
    form {
        margin-top:20px;
    }

    h3{
        padding:0;
        margin:0;
        margin:auto;
        text-align:left;
        width:span(4 of 6);
        
    }

    label {
        font-weight:bold;
    }


    .rc-ranchor {
        display:block !important;
        width:span(4 of 6);
        margin:auto !important;
    }
}

.h_contact_map {
    h3 {
        padding:0;
        margin:0;
        margin-bottom:20px;
        text-align:left;

    }
    address, p {
        margin-top:20px;
        padding-top:10px;
        font-size:18px;
        font-style:normal;
    }

}


#google_map {
    margin-top:60px;
    margin-bottom:60px;
    width: span(5 of 6);
}

//recaptcha
.rc-anchor-light.rc-anchor-normal {
    width:span(4 of 6);
    margin:auto;
}






footer {
    display:block;
    margin:auto;
    text-align: center;
    font-size: 18px;
    padding:50px;
}

.site-info a:first-child, span.sep, #text {
    display:none;
}

.site-info {
    
}


}/* end @media min-width:601px */
